<!DOCTYPE html>
<html>
	<head>
		<title>Signafire Code Challenge</title>

		<style type="text/css">
			.results-list{
				margin: 8px;
			}
	</style>
	</head>

	<body>
		<div>
			<h4>
				Logged-in as user: foo
			</h4>
		</div>
		<div>
			<form id="search-form">
				<input type="text" name="firstname" id="search-input">
				<input type="submit">
			</form>
		</div>
		<div id="results"></div>


	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
   <script>

   	$('#search-form').submit(function(event) {
		event.preventDefault();
		var resultDiv = document.getElementById("results");
		while (resultDiv.firstChild) {
    		resultDiv.removeChild(resultDiv.firstChild);
		}
	   	$.ajax( {
			url: '/users/foo',
			data: $("#search-form").serialize(),
			type: 'GET',
			success: function(data) {
				items = data.results;
				for(var i=0; i<items.length; i++) {
				   $('#results').append(`<div class="results-list">${items[i].full_name}<br />${items[i].location}</div>`);
				}
			}
	   });
	});

   </script>

	</body>
</html>