<!DOCTYPE html>
<html>
	<head>
		<title>Signafire Code Challenge</title>
	</head>
	<body>
		<div>
			<h4>
				Logged-in as user: foo
			</h4>
		</div>
		<div>
			<form method="GET" action="/users/foo">
				<input type="text" name="firstname">
				<input type="submit">
			</form>
		</div>
	</body>
</html>